{% extends 'common/base.html' %}
{% block title %}
个人中心
{% endblock %}
{% block page_content %}

<div class="page-header">
<h1>用户信息</h1>
</div>
    <img src="{{ url_for('static',filename = 'upload/'+current_user.icon) }}" alt="" style="width: 200px;height: 200px">
 <div class="form-group">
    <label for="email1">邮箱</label>
    <input type="email" class="form-control" id="email1"  readonly value="{{ current_user.email}}">
  </div>
  <div class="form-group">
    <label for="username">用户名</label>
    <input type="text" class="form-control" id="username"  readonly value="{{ current_user.username }}">
  </div>

{% endblock %}